<div class="container more-container">
  <h3>{{ site.more_title | default: "Awards" }}</h3>
  <div class="row clearfix">
    <div class="col-md-12">
      {{ site.more_content | strip | markdownify }}
      <p>Buchanan Scholarship Award for Leadership in STEM</p>
      <p>Ajamie Scholarship Award for Inclusive Leadership</p>
      <p>Two-time published author in LUX Creative Magazine</p>
      <p>ASU Grace Hopper Scholarship Recipient</p>
      <p>Flinn Scholar Finalist and Alternate</p>
      <p>Girl Scout Gold Award for Service and Leadership</p>
      <p>Girl Scout Silver Award for Service and Leadership</p>
      <p>Two-time published author in for 1st place in Voices Writing Competition</p>
      <p>American Legion Auxiliary Outstanding Student Award</p>
      <p>Ronald Reagan Student Leader Award</p>
      <p>Honors Seal of Excellence for Service Learning in Mesa Public School District</p>
      <p>International Baccalaureate Neal Scholar for Westwood High School</p>
    </div>
  </div>
</div>
