---
layout: base
---
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
        <div class="wrapper">


            {%- if site.data.projects.size > 0 -%}
                {%- include projects.html -%}
            {%- endif -%}

            {%- if site.data.experience.size > 0 -%}
                {%- include experience.html -%}
            {%- endif -%}

            {%- if site.data.education.size > 0 -%}
                {%- include education.html -%}
            {%- endif -%}

            {%- include more.html -%}

        </div>

    {%- include footer.html -%}

    </a>
